input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header";
  grid-template-columns: 50% 50%;
  padding: 5px;
}
.grid-item {
  padding: 10px;
  text-align: left;
}

#carbon-to-offset {
  grid-column-start: 1;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  border: 1;
  border-width: 1;
  box-shadow: none;
  padding: 0;
  min-width: 1em;
  max-width: 3em;
  text-align: right;
}
#carbon-to-offset::placeholder{
  color: rgb(70, 70, 70);
}
#list-payment-tokens {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 800;
  padding-left: 2px;
  padding-right: 10px;
  padding-bottom: 0px;
  width: 150px;
}