body {
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #313131;
    color: white;
    padding: 0;
    margin: 0;
}

/* (A) FLEX CONTAINER */
.wrap-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: center;
    // margin: auto;
    margin-left: 100;
}

/* (B) NOT IMPORTANT - COSMETICS */
.wrap-flex > * {
    //width: 33%;
    padding: 3px;
    //border: 1px solid red;
}
